---
import Navbar from '../components/navbar/Navbar';
import Sidebar from '../components/sidebar/Sidebar';
import Layout from '../layouts/Layout.astro';
import Home from './home';

---

<Layout title="Brawlipedia">
	<main>
		<Navbar/>
		<section class="grid grid-cols-[0.1fr,1fr] items-center">
			<Sidebar client:load/>
			<Home client:idle/>
		</section>
	</main>
</Layout>

<style>
 section {
	height: 100vh;
 }
</style>
