---
import Navbar from '../components/navbar/Navbar';
import Sidebar from '../components/sidebar/Sidebar';
import Layout from '../layouts/Layout.astro';
import Home from './home';

---

<Layout title="Brawlipedia">
	<main>
		<Navbar/>
		<section class="flex">
			<Sidebar/>
			<Home client:load/>
		</section>
	</main>
</Layout>

<style>

</style>
