---
import Navbar from '../components/navbar/Navbar';
import Sidebar from '../components/sidebar/Sidebar';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brawlipedia">
	<main>
		<Navbar/>
		<section class="flex"><Sidebar/></section>
	</main>
</Layout>

<style>

</style>
