---
import Navbar from '../components/navbar/Navbar';
import Sidebar from '../components/sidebar/Sidebar';
import Layout from '../layouts/Layout.astro';
import Home from './home';

---

<Layout title="Brawlipedia">
	<main>
		<Navbar/>
		<section class="flex">
			<Sidebar client:load/>
			<Home client:idle/>
		</section>
	</main>
</Layout>

<style>

</style>
